<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API LIVROS</title>
</head>
<body>
    <h1>&nbsp;API - Livros do Vai na Web!</h1>
    <hr>
    </h1>&emsp; <strong>Sejam Bem vindos, ao início da minha jornada com Banco de Dados!!!</strong></h1>
    <hr>
    <h1>Manual de Como acessar a API:</h1>
    <ul>
        <dt>Métodos de Requisição:</dt>
        <li>GET = ( /Livros )</li>
        <dd>É usado para obter algum recurso hospedado no servidor.</dd>
        <li>POST = ( /doar )</li>
        <dd>É utilizado para enviar dados para o servidor.</dd>
        <li>DELETE = ( /livros/id )</li>
        <dd>É utilizado para remoção de dados.</dd>
    </ul>
</body>
</html>